body {
  margin: 0 0;
}

#workspace {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 600px;
  height: 500px;

  border: 3px dashed cyan;
}

#text-editor {
  transition: opacity 0.4s ease;
}